*{
    margin: 0;
    padding: 0;
    font-family:consolas;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #050801;
}

a{
    display: flex;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px; 
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 3px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(290deg);
}
a:nth-child(2){
    filter: hue-rotate(100deg);
}
a:nth-child(3){
    filter: hue-rotate(210deg);
}
a:hover{

    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4, 0 0 200px #03e9f4;
}

a span{
    position: absolute;
    display: block;

}

a span:nth-child(1){
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
        
    }
    50%, 100%{
        bottom: 100%;
    }
}
.glowing{
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}
.glowing:nth-child(even){
    transform-origin: left; 
}
@keyframes colorChange{
    0%{
        filter: hue-rotate(130deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
.glowing span{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    right: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
}
.glowing span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(3n + 1)::before{
    background: rgba(150, 255, 0, 1);
    box-shadow: 0 0 20px  rgba(134, 255, 0, 1),
                0 0 40px  rgba(134, 255, 0, 1),
                0 0 60px  rgba(134, 255, 0, 1),
                0 0 80px  rgba(134, 255, 0, 1),
                0 0 0 8px  rgba(134, 255, 0, .1);
}
.glowing span:nth-child(3n + 2)::before{
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px  rgba(255, 255, 0, 1),
                0 0 40px  rgba(255, 255, 0, 1),
                0 0 60px  rgba(255, 255, 0, 1),
                0 0 80px  rgba(255, 255, 0, 1),
                0 0 0 8px  rgba(255, 255, 0, .1);
}
.glowing span:nth-child(3n + 3)::before{
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px  rgba(0, 226, 255, 1),
                0 0 40px  rgba(0, 226, 255, 1),
                0 0 60px  rgba(0, 226, 255, 1),
                0 0 80px  rgba(0, 226, 255, 1),
                0 0 0 8px  rgba(0, 226, 255, .1);
}
.glowing span:nth-child(3n + 1){
    animation: animate 2s alternate infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.glowing span:nth-child(3n + 2){
    animation: animate-reverse 1s alternate infinite;
}
@keyframes animate-reverse{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.glowing span:nth-child(3n + 3){
    animation: animate 2s alternate infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
