* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url('../img/login-page/page-background.png');
    background-position: center;
    background-size: cover;
    background-color: #f6f9fd;
    font-family: 'Open Sans', sans-serif;
}

button,
input,
a {
    border: none;
}

button,
a,
span {
    user-select: none;
}

button:focus,
a:focus {
    outline: none;
}

.heading {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    max-width: 1000px;
    max-height: 900px;
    box-shadow: 0 0 30px #d6d7d8;
}

#section1 {
    flex-grow: 0.5;
    background-color: #0b2341;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#section2 {
    flex-grow: 1;
    background-color: white;
    color: #0b2341;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

form {
    max-width: 350px;
    text-align: center;
}

input {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(214, 215, 216, 0.8);
    margin-bottom: 10px;
}

input:not([type='submit']) {
    width: 100%;
    padding: 12px 15px;
}

input:not([type='submit']):focus {
    outline: 2px solid #0074f9;
}

input[type='submit'] {
    padding: 10px 30px;
    background-color: #0074f9;
    color: white;
    font-size: 1.2em;
    transition: .3s;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #0058bd;
}

input[type='submit']:active {
    transform: scale(0.85);
    box-shadow: none;
}

input[type='submit']:focus {
    outline: none;
}

.pass-input {
    position: relative;
    margin-bottom: 10px;
}

.pass-input>input {
    margin-bottom: 0;
}

.pass-input button {
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    padding: 4px;
    background-color: transparent;
    color: #a4a4a4;
    font-size: 22px;
    border-radius: 4px;
    transition: .3s;
}

.pass-input button:hover {
    background-color: #d7d7d7;
    color: black;
}

hr {
    border: none;
    border-top: 1px solid #ced4da;
}

.other-accounts {
    margin: 10px -10px 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.other-accounts a {
    margin: 0 10px 10px 0;
    font-size: 22px;
    color: white;
    background-color: #0b2341;
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
    text-decoration: none;
}

.other-accounts a:hover {
    transform: scale(1.2);
    background-color: #0074f9;
}

.form-toggle {
    font-size: 1.1em;
}

.form-toggle>a {
    font-weight: bold;
    color: #0074f9;
}

.form-toggle>a:hover {
    color: #0058bd;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
    }
    #section1 {
        width: 1px;
    }
    #section2 {
        width: 1px;
    }
}

@media screen and (max-height:500px) {
    main {
        height: 100%;
        width: auto;
        min-width: 80vw;
    }
}

@media screen and (max-width:500px) {
    main {
        width: 100vw;
        height: auto;
        min-height: 80vh;
    }
    .inputs {
        grid-template-columns: 1fr;
    }
}