* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/login-page/page-background.png');
    background-size: cover;
    background-position: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

button,
input,
a {
    border: none;
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    max-width: 1000px;
    max-height: 700px;
    border-radius: 10px;
    box-shadow: 15px 15px 40px;
    overflow: hidden;
}

#section1 {
    flex-grow: 0.5;
    background-color: #00a892;
    background-image: url('../img/login-page/box-background.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: inset -5px -5px 10px #003030;
}

#section2 {
    flex-grow: 1;
    background-size: contain;
    background-color: #4b8ed1;
    background-blend-mode: color-burn;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: inset -5px -5px 10px #002a53;
}

form {
    max-width: 350px;
    text-align: center;
}

.form-heading {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    border-radius: 3em;
    box-shadow: inset -2px -2px 5px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

input[type='submit'] {
    padding: 10px 20px;
    background-image: linear-gradient(#00ffdd, #00a892);
    font-weight: bold;
    font-size: 1.2em;
    transition: transform .2s, padding .2s;
    cursor: pointer;
}

input[type='submit']:hover {
    padding: 10px 30px;
}

input[type='submit']:active {
    transform: scale(0.9);
}

.pass-input {
    position: relative;
    margin-bottom: 10px;
}

.pass-input>input {
    margin-bottom: 0;
}

.pass-input button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.6;
}

.pass-input img {
    height: 80%;
}

.pass-input button:hover {
    opacity: 1;
}

hr {
    border: none;
    border-top: 1px solid white;
}

.other-accounts {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.other-accounts a {
    margin-right: 10px;
    padding: 2px;
    background-color: white;
    border-radius: 30px;
    transition: transform .2s;
}

.other-accounts a img {
    height: 40px;
    width: 40px;
}

.other-accounts a:hover {
    transform: scale(1.2);
}

.other-accounts a:last-child {
    margin-right: 0;
}

.form-toggle {
    font-size: 1.1em;
}

.form-toggle>span {
    font-weight: bold;
    color: rgb(145, 255, 0);
    cursor: pointer;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

@media screen and (max-width:500px) {
    body {
        display: block;
    }
    main {
        width: 100%;
        height: 100%;
        max-height: unset;
        border-radius: 0;
        overflow: auto;
    }
    #section1,
    #section2 {
        box-shadow: inset 0 0 10px black;
    }
    .inputs {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 900px) {
    main {
        flex-direction: row;
    }
    #section1 {
        width: 1px;
    }
    #section2 {
        width: 1px;
    }
}